{% extends 'layout.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Voluptas dolorem praesentium beatae inventore eos quia velit dicta, amet fugiat 
    molestias dolor delectus natus explicabo accusantium quod quasi laudantium ullam commodi 
    ipsam perspiciatis quaerat quibusdam? Nulla aspernatur dolore, nisi exercitationem labore 
    porro eligendi nihil dolorum voluptates rem corporis, temporibus tempore similique possimus 
    sequi fugit. Facere nesciunt ipsum veritatis expedita commodi natus sunt aliquid fugit! 
    Inventore tenetur maxime facere aperiam eius. Ullam esse aspernatur perspiciatis sequi eos 
    voluptatibus voluptas fugit. Sapiente, illo repellendus? Quibusdam reprehenderit debitis dicta 
    omnis vitae rem. Itaque alias impedit necessitatibus ducimus, earum id facere eaque, laboriosam,
    officiis temporibus odio consequatur illo reprehenderit obcaecati esse inventore ipsam dolor 
    sapiente? Laborum fuga suscipit laboriosam, mollitia ipsum voluptates incidunt ut quaerat eius,
    eaque magni aperiam minima unde illo! Illo deleniti repellendus error optio hic repudiandae 
    odit unde commodi nobis quod nemo beatae corporis quia aperiam voluptatem amet aut a corrupti 
    quo, iusto repellat! Exercitationem, maxime tenetur? Quas veniam minima vitae dolor mollitia 
    corrupti commodi, dicta dignissimos accusamus eaque temporibus enim illo nemo soluta autem 
    assumenda! Eveniet corrupti repudiandae, impedit pariatur ipsum animi hic velit non illum 
    totam commodi laborum voluptatem praesentium tenetur itaque
    optio officia incidunt tempore error repellendus ratione quia!</p>
{% endblock %}